* {
  font-family: "Roboto Mono", monospace;
  margin: 0; padding: 0;
}
canvas {
  display: block;
}
.auto-input {
  /* border: 1px solid red; */
  color: #fff;
  width: 30%;
  height: 10%;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
}
.home-all {
  /* border: 5px solid blue; */
  border: 0%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.up-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(71, 103, 61);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  z-index: 2;
}

.logo a {
  display: flex;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}
.main-navigation {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 60%;
}
.about {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}
.about-u {
  text-decoration: none;
  color: azure;
}
.about :hover {
  background-color: #37b708;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(103, 131, 91), 0 0 15px rgb(75, 245, 3);
}
.projects {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}
.projects-u {
  text-decoration: none;
  color: azure;
}
.projects :hover {
  background-color: #37b708;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(103, 131, 91), 0 0 15px rgb(75, 245, 3);
}
.contact-me {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}
.contact-me-u {
  text-decoration: none;
  color: azure;
}
.contact-me :hover {
  background-color: #37b708;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(103, 131, 91), 0 0 15px rgb(91, 92, 90);
}
.center-all {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  color: white;
}
.center {
  /* border: 1px solid white; */
  width: 45%;
  display: flex;
  justify-content: space-around;
  margin: 2% 0% 0% 10%;
}
.para1 {
  /* border: 2px solid green; */
  width: 100%;
  color: azure;
  margin: 0% 0 0 0%;
}
.para1 p {
  /* border: 1px solid red; */
  height: inherit;
  width: 90%;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 30% 10% 0% 0%;
}
.icons {
  border: 2px solid red;
  width: 10%;
  /* transform: translate(-150%, 0%); */
}
.icons li {
  color: white;
  width: 20%;
  padding: 20% 20% 20% 20%;
  margin-top: 30%;
  display: block;
  text-decoration: none;
}
.icons li :hover {
  background-color: rgb(75, 245, 3);
  color: #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(75, 245, 3), 0 0 15px rgb(75, 245, 3);
}
.image {
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}
.img {
  /* border: 2px solid green; */
  position: relative;
  transform: translate(-120%, 30%);
  background-color: transparent;
  border-radius: 10% 10% 10% 10%;
  width: 40%;
  height: 60%;
}
.div-pe {
  position: relative;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* height: 160px; */
  color: azure;
  margin: 2% 0 0 0;
}
.ico {
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 13px;
}
.p2 {
  /* border: 2px solid green; */
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  margin-left: -50%;
}
.abt-helpin {
  /* margin-top: 25px; */
  width: 100% inherit;
  /* border: 2px solid red; */
  color: azure;
}
.about-h {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  color: azure;
}
.abt-me-para {
  /* border: 1px solid green; */
  width: inherit;
  font-size: 30px;
  color: azure;
}
.helpin {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 400px; */
}
.helpin p {
  /* border: 1px solid sienna; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: azure;
}
.para {
  color: red;
}
.up-header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.edu-skill {
  /* border: 2px solid green; */
  width: 85%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-left: 60px;
}
.skills {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.edu-p {
  font-size: 40px;
  display: inline-block;
  justify-content: center;
  justify-content: space-around;
}
.skill-div {
  /* border: 2px solid rgb(98, 0, 255); */
  font-size: 30px;
  color: azure;
}
.si {
  display: inline-block;
  justify-content: center;
  justify-content: space-around;
  color: azure;
}
.es-p {
  font-size: 10px;
  color: azure;
}
.sp {
  font-size: 10px;
  color: azure;
}
.edu-pi {
  padding-top: 5px;
}
.ed-p {
  font-size: 15px;
  color: azure;
}
.p-type {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.input {
  /* border: 2px solid red; */
  padding-top: 5px;
  margin-left: 10px;
  padding-top: 6px;
}
.ed-h {
  color: azure;
}
.edu-h2 {
  color: azure;
}
.skills-h {
  color: azure;
}
.ski-h2 {
  color: azure;
}
.send-me {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed {
  /* border: 1px solid #fff; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.feed .input-one {
  width: 40%;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 0;
}
.feed-btn {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.feed-btn button {
  width: 30%;
  margin: 2% 0 0 0;
  padding: 1% 1% 1% 1%;
  border-radius: 10px;
  border: 0;
  background-color: #37b708;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
}
#in-msg {
  width: 40%;
  padding-bottom: 100px;
  border-radius: 5px;
  border: 0;
}
.cv h3 {
  color: #fff;
  display: flex;
  justify-content: center;
}
.cv a {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.cv-download {
  background-color: #37b708;
  border-radius: 10px;
  border: 0;
  width: 30%;
  height: 30px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 1px;
}
.my-projects {
  padding-top: 5%;
}
.proje-header {
  /* border: 1px solid orange; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.proje-header h2 {
  color: #fff;
}
.project-cont {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
}
.project {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  align-items: center;
  gap: 2.4rem;
  width: 90%;
}
.project-row {
  border: 2px solid #fff;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.project-row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5;
}
.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #25eb17);
  position: absolute;
  border-radius: 8px;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 0;
  transition: height 0.5s;
  flex-direction: column;
}
.layer h3 {
  /* border: 1px solid red; */
  color: rgb(255, 252, 252);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.layer p {
  /* border-bottom: 1px solid red; */
  width: 80%;
}
.layer h6 {
  /* border: 1px solid #fff; */
  color: rgb(255, 251, 251);
  margin: 0;
}
.layer p {
  /* border: 1px solid red; */
  color: rgb(255, 251, 251);
  font-size: 0.9rem;
  line-height: 1.8;
}
.layer i {
  color: #eba317;
  margin-top: 0px;
  font-size: 20px;
  background: #fff;
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.project-row:hover img {
  transition: scale(1.1);
}
.project-row img {
  height: 100%;
}
.project-row:hover .layer {
  height: 100%;
}
.project-row p {
  text-align: center;
}
.yelow {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2%;
}
